@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --light-green:#54E6AF;
    --dark-blue:#2C344B;
    --dark-black:#121725;
    --ultra-violet:#5A668A;
    --peri-winkle:#C2CBE5;
    --White : #FFFFFF;
}

body {
    font-family: "Chivo" , sans-serif;
    background-color: var(--dark-black);
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;    
}

h1 {
    color: var(--light-green);
    text-transform: uppercase;
    font-weight: 300;
    
}

h1 span {
    color: var(--White);
    font-size: inherit;
}

p {
    color: var(--White);
    font-weight: 300;
}

img {
    display: block;
}

form {
    padding-bottom: 2em ;
}

input {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em 1em 1em 1em ;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 2em;
    color: var(--White);
    font-weight: bold;
}

input[type=submit] {
    background-color: var(--light-green);
    color: black;
    box-shadow: 0 2em 2em 0.5em hsla(157, 74% ,62%, 0.125);
}

input:placeholder-shown {
    opacity: 0.5;
}

input :focus,
input::after{
    outline: none;
}
.logo{
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 375px) {

    body{
        padding: 50px 15px;
    }

    body::before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(assets/image-host.jpg);
        opacity: 0.1;
    }

    main {
        text-align: center;
    }

    h1 {
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        margin: 26px 0;
    }

    p{
        font-size: 16px;
        line-height: 26px;
    }

    .logo{
        margin-right: auto;
        margin-right: auto;
    }
    .container {
        margin: 52px 0;
    }

}

@media (min-width: 768px) {

    body::before {
        top: 0;
        left: 40%;
        right: 0;
        opacity: 1;

    }

    .logo{
        width: 20%;
    }

}

@media (min-width:1440px) {

}