@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --light-green:#54E6AF;
    --dark-blue:#2C344B;
    --dark-black:#121725;
    --ultra-violet:#5A668A;
    --peri-winkle:#C2CBE5;
    --White : #FFFFFF;
}

body {
    font-family: "Chivo" , sans-serif;
    background-color: var(--dark-black);
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;    
}

h1 {
    color: var(--light-green);
    text-transform: uppercase;
    font-weight: 300;
    
}

h1 span {
    color: var(--White);
    font-size: inherit;
}

p {
    color: var(--White);
    font-weight: 300;
}

img {
    display: block;
}

form {
    padding-bottom: 2em ;
}

input {
    width: 100%;
    margin-top: 1em;
    padding: 0.5em 1em 1em 1em ;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 2em;
    color: var(--White);
    font-weight: bold;
}

input[type=submit] {
    background-color: var(--light-green);
    color: black;
    box-shadow: 0 2em 2em 0.5em hsla(157, 74% ,62%, 0.125);
}

input:placeholder-shown {
    opacity: 0.5;
}

input :focus,
input::after{
    outline: none;
}
.logo{
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 375px) {

    body{
        padding: 50px 15px;
    }

    body::before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(assets/image-host.jpg);
        opacity: 0.1;
    }

    main {
        text-align: center;
    }

    h1 {
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        margin: 26px 0;
    }

    p{
        font-size: 16px;
        line-height: 26px;
    }

    .logo{
        margin-right: auto;
        margin-right: auto;
    }
    .container {
        margin: 52px 0;
    }

}

@media (min-width: 768px) {

    body {
        padding: 50px 30px;
    }

    body::before {
        top: 0;
        left: 40%;
        right: 0;
        opacity: 1;
        background-image: url(./assets/image-host.jpg);

    }

    body::after{
        content: '';
        display: block;
        width: 230px;
        height: 100px;
        background-image: url(./assets/bg-pattern-dots.svg);
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 120px 0 50px;
        margin-right: 50px;
        padding: 50px 20px;
        text-align: left;
        background-color: var(--ultra-violet);
    }

    h1 {
        
        font-size: 48px;
        line-height: 56px;
    }

    p{
        width: 75%;
        font-size: 18px;
        line-height: 28px;
    }

    form {
        position: relative;
        width: 75%;
    }

    input[type=submit] {
        position:absolute;
        top: 0;
        left: 60%;
        right: 0;
        width: 40%;

    }

    .logo{
        width: 20%;
        margin-left: 0%;
    }
    .container{
        order: 3;
        width: 75%;
    }

    main{
        background-color: var(--dark-black);
    }

}

@media (min-width:1440px) {
    body{
        padding : 130px 160px;

    }

    body::before{
        top: 130px;
        left: 40%;
        right: -20%;
        background-image: url(./assets/image-host.jpg);
    }

    body::after{
        position: absolute;
        top: 80%;
        right: 0;

    }

    main {
        width: 60%
    }
    h1{
        font-size:50px ;
        line-height: 62px;

    }

}